#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.card-container{
    width: 100%;
    height: 100%;
    box-shadow: 100%;

    
}

.card{
    display: block;
    box-shadow: inset;
    text-align: center;
}


.name{
  color: magenta;
}
span{
  color: green;
}
p{
  text-align: center;
  text-transform: uppercase ;
  text-shadow: 10px;
}